{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_format]}.

{shell,
 % {config, "config/sys.config"},
 [{apps, [code_formater]}]}.

{format, [
    {files, ["src/*.erl"]},
    {ignore, ["src/code_formater_1.erl"]},
    {formatter, default_formatter},
    {options, #{
                break_indent => 4,
               % encoding => none,
                line_length => 80,
                inline_attributes => all,
                inline_clause_bodies => false,
                inline_expressions => false,
                inline_fields => {when_under, 3},
                inline_items => all,
                inline_qualified_function_composition => false,
                inline_simple_funs => false, 
                paper => 80,
                parenthesize_infix_operations => false,
                parse_macro_definitions => true,
                preserve_empty_lines => false,
               % ribbon => 70,
                spaces_around_arguments => false,
                spaces_around_fields => false,
                sub_indent => 5,
                truncate_strings =>false,
                unquote_atoms => true}
    }
]}.
